### Importing libraries & functions

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

### Importing dataset

In [2]:
dataset=pd.read_excel('CreditScoring.xlsx', engine='openpyxl')

### Data preparation

In [3]:
# shows count of rows and columns
dataset.shape

(3000, 30)

In [4]:
#shows first few rows of the code
dataset.head()

,TARGET,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,1,582,3,3,0,4,0.0,5,117,27,...,3.0,0.9179,0.2083,2,3,7,0.2083,4,4,0.0000
1,1,662,15,9,0,3,1.0,3,14,14,...,1.0,0.8000,0.0000,0,0,0,1.0000,12,0,1.0000
2,1,805,0,0,0,1,5.0,1,354,7,...,5.0,0.3552,0.6538,0,1,1,0.7308,1,1,0.5263
3,1,1175,8,5,0,6,1.0,10,16,4,...,3.0,0.9127,0.2500,1,1,1,0.7500,7,1,1.3333
4,1,1373,3,1,0,9,0.0,8,130,52,...,1.0,1.2511,0.0000,0,1,4,0.1429,3,1,0.0000

In [5]:
# Printing last few rows of the given dataset
dataset.tail()

,TARGET,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
2995,0,126441,0,0,0,2,0.0,2,199,10,...,9.0,0.7853,0.6923,0,0,0,0.6538,0,0,0.3529
2996,0,126448,0,0,0,0,NaN,0,270,3,...,5.0,0.5766,0.9286,0,0,0,0.8571,0,0,0.4167
2997,0,126465,1,1,0,8,0.0,5,234,4,...,9.0,0.8722,0.6071,0,0,0,0.4286,1,0,0.7500
2998,0,126487,4,4,0,2,3.0,1,257,3,...,3.0,1.0391,0.6000,0,1,2,0.6000,4,1,1.0000
2999,0,126503,2,1,1,0,18.0,0,254,119,...,1.0,0.3239,0.1667,0,2,4,0.5000,3,2,0.0000

In [6]:
#dropping customer ID column from the dataset
dataset=dataset.drop('ID',axis=1)
dataset.shape

(3000, 29)

In [7]:
# explore missing values
dataset.isna().sum()

TARGET               0
DerogCnt             0
CollectCnt           0
BanruptcyInd         0
InqCnt06             0
InqTimeLast        188
InqFinanceCnt24      0
TLTimeFirst          0
TLTimeLast           0
TLCnt03              0
TLCnt12              0
TLCnt24              0
TLCnt                3
TLSum               40
TLMaxSum            40
TLSatCnt             4
TLDel60Cnt           0
TLBadCnt24           0
TL75UtilCnt         99
TL50UtilCnt         99
TLBalHCPct          41
TLSatPct             4
TLDel3060Cnt24       0
TLDel90Cnt24         0
TLDel60CntAll        0
TLOpenPct            3
TLBadDerogCnt        0
TLDel60Cnt24         0
TLOpen24Pct          3
dtype: int64

In [13]:
dataset.describe

<bound method NDFrame.describe of       TARGET  DerogCnt  CollectCnt  BanruptcyInd  InqCnt06  InqTimeLast
0          1         3           3             0         4          0.0  \
1          1        15           9             0         3          1.0
2          1         0           0             0         1          5.0
3          1         8           5             0         6          1.0
4          1         3           1             0         9          0.0
...      ...       ...         ...           ...       ...          ...
2995       0         0           0             0         2          0.0
2996       0         0           0             0         0          NaN
2997       0         1           1             0         8          0.0
2998       0         4           4             0         2          3.0
2999       0         2           1             1         0         18.0

      InqFinanceCnt24  TLTimeFirst  TLTimeLast  TLCnt03  ...  TL50UtilCnt
0                   5          117          27        0  ...          3.0  \
1                   3           14          14        0  ...          1.0
2                   1          354           7        0  ...          5.0
3                  10           16           4        0  ...          3.0
4                   8          130          52        0  ...          1.0
...               ...          ...         ...      ...  ...          ...
2995                2          199          10        0  ...          9.0
2996                0          270           3        1  ...          5.0
2997                5          234           4        0  ...          9.0
2998                1          257           3        1  ...          3.0
2999                0          254         119        0  ...          1.0

      TLBalHCPct  TLSatPct TLDel3060Cnt24 TLDel90Cnt24  TLDel60CntAll
0          91%_)     20%_)              2            3              7  \
1          80%_)      0%_)              0            0              0
2          35%_)     65%_)              0            1              1
3          91%_)     25%_)              1            1              1
4         125%_)      0%_)              0            1              4
...          ...       ...            ...          ...            ...
2995       78%_)     69%_)              0            0              0
2996       57%_)     92%_)              0            0              0
2997       87%_)     60%_)              0            0              0
2998      103%_)     60%_)              0            1              2
2999       32%_)     16%_)              0            2              4

      TLOpenPct  TLBadDerogCnt  TLDel60Cnt24  TLOpen24Pct
0         20%_)              4             4         0%_)
1        100%_)             12             0       100%_)
2         73%_)              1             1        52%_)
3         75%_)              7             1       133%_)
4         14%_)              3             1         0%_)
...         ...            ...           ...          ...
2995      65%_)              0             0        35%_)
2996      85%_)              0             0        41%_)
2997      42%_)              1             0        75%_)
2998      60%_)              4             1       100%_)
2999      50%_)              3             2         0%_)

[3000 rows x 29 columns]>

In [8]:
# filling missing values with mean

dataset=dataset.fillna(dataset.mean())

In [9]:
# explore missing values post missing value fix
dataset.isna().sum()

TARGET             0
DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

### Train Test Split

In [10]:
y = dataset.iloc[:, 0].values
X = dataset.iloc[:, 1:29].values

In [11]:
# splitting dataset into training and test (in ratio 80:20)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0, stratify=y)

In [12]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
# Exporting Normalisation Coefficients for later use in prediction
import joblib
joblib.dump(sc, 'f2_Normalisation_CreditScoring')

['f2_Normalisation_CreditScoring']

### Risk Model building

In [22]:
classifier =  LogisticRegression()
model = classifier.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [23]:
# Exporting Logistic Regression Classifier for later use in prediction

# import joblib
joblib.dump(classifier, 'Classifier_CreditScoring')

['Classifier_CreditScoring']

### Model *performance*

In [24]:
print(confusion_matrix(y_test,y_pred))

[[487  13]
 [ 87  13]]

In [17]:
print(accuracy_score(y_test, y_pred))

0.8333333333333334

### Writing output file

In [18]:
predictions = classifier.predict_proba(X_test)
predictions

array([[0.61644691, 0.38355309],
       [0.9885656 , 0.0114344 ],
       [0.87069686, 0.12930314],
       ...,
       [0.94450568, 0.05549432],
       [0.46756903, 0.53243097],
       [0.94014209, 0.05985791]])

In [19]:
# writing model output file

df_prediction_prob = pd.DataFrame(predictions, columns = ['prob_0', 'prob_1'])
df_prediction_target = pd.DataFrame(classifier.predict(X_test), columns = ['predicted_TARGET'])
df_test_dataset = pd.DataFrame(y_test,columns= ['Actual Outcome'])

dfx=pd.concat([df_test_dataset, df_prediction_prob, df_prediction_target], axis=1)

dfx.to_csv("Model_Prediction.xlsx", sep=',', encoding='UTF-8')

dfx.head()

   Actual Outcome    prob_0    prob_1  predicted_TARGET
0               1  0.616447  0.383553                 0
1               0  0.988566  0.011434                 0
2               1  0.870697  0.129303                 0
3               0  0.953963  0.046037                 0
4               1  0.726633  0.273367                 0

In [20]:
import pickle

In [25]:
# Saving final model
filename = 'final_model.sav'
pickle.dump(model, open(filename,'wb'))